html, body {
	font-family: 'Asap', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	background-image: url('/assets/images/city-shape.svg');
	background-position: right top;
	background-repeat: no-repeat;
}