@import '~assets/scss/styles.scss';

.item {
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 1px solid theme-color('background', 'dark');
  color: theme-color('background', 'dark');
  @include text-setting('xl');
  letter-spacing: 0.5em;
  text-shadow: 1px 1px 2px theme-color('foreground', 'dark');
  font-weight: font-weight('semi-bold');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 5em;
  
  &:hover {
    color: theme-color('background', 'light');
  }
}

.details {
  background-color: theme-color('background', 'dark');
}