@import '~assets/scss/styles.scss';

.list-item {
  cursor: pointer;
  border-bottom: 1px solid theme-color('background', 'dark');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 8em;
  
  &:hover {
    filter: grayscale(1);

    .list-item__text {
      transform: scale(1.2);
      background-color: theme-color('foreground');
    }
  }
}

.list-item__text {
  padding: 0.5rem;
  transition: all 0.5s linear;
  color: theme-color('background', 'light');
  letter-spacing: 0.5em;
  text-shadow: 1px 1px 5px theme-color('foreground', 'dark');
  font-weight: font-weight('semi-bold');
  @include text-setting('xl');
  text-transform: uppercase;
}