<div
  class="city-details"
  *ngIf="city">
  <cs-summary-template
    [city]="city">
  </cs-summary-template>
  
  <div
    class="city-details__buttons"
    fxLayout="row" fxLayoutAlign="end center"
    fxLayoutAlign.xs="center center">
    <cs-action-button
      (click)="delete()"
      [isDisabled]="!city">
      Delete
    </cs-action-button>
    <cs-action-button
      (click)="edit()"
      [isDisabled]="!city">
      Edit
    </cs-action-button>
    <cs-action-button
      (click)="viewMap()"
      [primary]="true"
      [isDisabled]="!city.lat || !city.long">
      View map
    </cs-action-button>
  </div>
</div>