@import '~assets/scss/styles.scss';

header {
    padding: 2rem 4rem;
	background-image: url('/assets/images/city-shape.svg');
	background-position: left top;
	background-repeat: no-repeat;
}

.title {
    font-family: 'Lobster Two', cursive;
    @include text-setting('xxxl');
    padding: 0.5rem;
}

.title-primary {
    color: theme-color('primary');
}

.title-accent {
    color: theme-color('accent');
}

.nav-list-item {
    display: inline-block;
    @include text-setting('lg');
    padding: 0.5rem;
}

.nav-link {
    font-weight: font-weight('medium');
    text-decoration: none;
    color: contrast('light', 'secondary');
    text-transform: uppercase;

    &.active {
        color: theme-color('primary');
    }
}