<form
  [formGroup]="formGroup">
  <cs-section-header>{{header}}</cs-section-header>
  <div class="content">

    <div class="form-input-container"
      fxLayout="column" fxLayoutAlign="start stretch"
      fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start start">

      <label for="name">City name:</label>
      <input type="text" name="title" formControlName="title" />
      <cs-error-message
        [isError]="isError(formGroup.controls['title'])">
        You must choose a name.
      </cs-error-message>

    </div>

    <div class="form-input-container"
      fxLayout="column" fxLayoutAlign="start stretch"
      fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start start">

      <label for="content">Summary:</label>
      <textarea type="text" name="content" formControlName="content"></textarea>
      <cs-error-message
        [isError]="isError(formGroup.controls['content'])">
        You must give a short summary.
      </cs-error-message>

    </div>

    <div class="form-input-container"
      fxLayout="column" fxLayoutAlign"start stretch"
      fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start start">

      <label for="content">Latitude:</label>
      <input type="text" name="lat" formControlName="lat" />

    </div>

    <div class="form-input-container"
      fxLayout="column" fxLayoutAlign="start stretch"
      fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start start">

      <label for="content">Longitude:</label>
      <input type="text" name="long" formControlName="long" />

    </div>

    <div class="form-input-container"
      fxLayout="column" fxLayoutAlign="start stretch"
      fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start start">

      <label for="image_url">Image URL:</label>
      <input type="text" name="image_url" formControlName="image_url" />
      <cs-error-message
        [isError]="isError(formGroup.controls['image_url'])">
        You must provide an image URL.
      </cs-error-message>

    </div>

    <div
      class="buttons"
      fxLayout="row" fxLayoutAlign="end center"
      fxLayoutAlign.xs="center center">
      <ng-content></ng-content>
    </div>
</form>