@import '~assets/scss/styles.scss';

.content {
  padding: 1rem;
  box-shadow: 1px 1px 3px theme-color('foreground', light);
}

label {
	display: inline-blocK;
	min-width: 8rem;
	line-height: 2.2rem;
	color: contrast('light', 'secondary');
}

.form-input-container {
	padding: 0.5rem;
}

input,
textarea {
	padding: 0.5rem;
	height: 2rem;
  width: auto;
	max-width: 100%;
	border: 2px solid theme-color('background', 'dark');
	outline: none;
	@include text-setting('base');

	&:focus {
		border-color: theme-color('accent', 'light');
	}
}

.buttons {
	margin-top: 2rem;
	padding: 0.5rem;
	border-top: 1px solid theme-color('accent', 'light');
}


/* Screens at least 960px wide */
@media (min-width: $layout-breakpoint-sm) {
	form {
	  padding: 0 1rem;
  }

  label {
  	padding: 0.5rem;
  }

  input,
  textarea {
    width: 18rem;
  }
}