<div fxLayout="column" fxLayoutAlign="start center">
  <div class="list">
    <cs-section-header>Cities</cs-section-header>
    <ul>
      <li *ngFor="let city of list$ | async">
        <a
          [routerLink]="['details', city.id]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <cs-list-item [city]="city"></cs-list-item>
        </a>
      </li>
    </ul>
  </div>
  <div class="button">
    <cs-action-button
      (click)="addCity()"
      [primary]="true"
      [isDisabled]="false">
      Add city
    </cs-action-button>
  </div>
</div>